.happy{
    color: dodgerblue;
    font-size: large;
}
/*Control + Foeward Slash makes a comment */

div{
    width: 100px;
    height:100px;
    color: aqua;
    border: 1px solid red;
    border-radius: 25px;
}

.pup{
    width: 100px;
    height:100px;
    color: aqua;
    border: 1px solid red;
    /*border-radius: 50px;*/
    background-image: url("../img/pup.jpg");
    background-size: cover;
    display: inline-block;
    /*margin: 20px;*/
    /*box-sizing: border-box; constraned to width, internal shrinking*/
    box-sizing: border-box;
    /*inline-block will cause a div to be inline*/
}

/*div has a block property, one on top of the other*/
#circle{
    width: 200px;
    height:200px;
    color: darkcyan;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url("../img/sunset.jpg");
    background-size: cover;

}


/*Control plus spacebar while entering properies gives choices*/
img{
    border: groove brown 10px;
}
/*img has an inline property*/
.sun1{
    border: groove aqua 10px;
    border-radius: 50px;
}

.sun2{
    border: groove darkgreen 10px;
    border-radius: 100%;
    width: 200px;
    height:200px;
    padding: 5px;
    /*padding is space between content and border*/
}

/*Alt plus J = selecting next occcurence    */

#test{
    width: 100px;
    height: 100px;
    background-color: crimson;

    border-radius: 30px;
    border: groove brown 20px;
}

.poop{
    width:400px;
    height: 200px;
    border: dashed deeppink 40px;
    margin:  20px auto;
    background-color: red;
}

.poop2{
    width:400px;
    height: 200px;
    border: dashed deeppink 40px;
    margin:  20px auto;
    box-sizing: border-box;
    background-image: url("../img/pup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*LVHA*/
a:link{
    color: blue;
}
a:visited{
    color: yellow;
}
a:hover{
    color: green;
}
a:active{
    color: red;
}

p::first-letter{
    font-family: cursive;
    font-size: 35px;
    line-height: .5px;
}