#Hello{
    color: red;
}
.Red{
    color: blue;
}

h1{
    color: blue;
}
#Pinky{
    color: deeppink;
}

h2{
    color: blue;
}

.y2{
    color: yellow;
}

a{
    color: blue;
}

.looser{
    color: darkgrey;
}



[target=_blank]{
    color: Green;
}