body{
    width:80%;
    border: 2px solid black;
    margin:0 auto;
}

div{
    width: 200px;
    height:200px;
    margin:0 auto;
    border:2px solid red;
    background-color: tomato;
}

#relative{
    position: relative;
    top: 20px;
    left:40px;
}