html, body, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 30px;
    text-align: center;
}

li{

}

a {
    display: block;
}